<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remove</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <p th:text="'Just removed a buddy with the following info'"/>
        <p th:text="'Name: ' + ${name}"/>
        <p th:text="'Address: ' + ${address}"/>
        <p th:text="'Birthday: ' + ${birthday}"/>
        <p th:text="'Company: ' + ${company}"/>
        <p th:text="'Phone Number: ' + ${phonenumber}"/>
    </body>
</html>